.pin-container {
  max-width: 400px;
  margin: auto;
  margin-top: 80px;
  padding: 30px;
  background: white;
  border-radius: 18px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  gap: 15px;

  h2 {
    text-align: center;
  }

  input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
  }

  button {
    background: #00c853;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 12px;
    cursor: pointer;
  }

  .back {
    text-align: center;
    color: #555;
    cursor: pointer;
  }
  .forgot {
    color: #1976d2;
    cursor: pointer;
    font-size: 13px;
  }
}
